---
---

$default-width: 100%;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
    overflow-y: scroll;
}

.image-wrapper,
.gallery-sizer {
    width: $default-width;
}

.grid-item {
    margin-bottom: 10px;
    float: left;
}

.gallery:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item img {
  display: block;
  width: 100%;
}

.grid-item,
.grid-sizer {
    width: 32%;
}

.gutter-sizer {
    width: 10px;
}

@media (max-width: 600px) {
    .grid-item,
    .grid-sizer {
        width: 99%;
    }
}

/* -------------------------------- */
/* Text overlay images (index.html) */
/* -------------------------------- */

$bg: rgba(0, 0, 0, 0.2);
.bg,
.overlay {
    text-align: center;
}

.bg {
    position: relative;
    img {
        width: 100%;
        margin-bottom: -4px;
        border-radius: 3px;
        -webkit-filter:blur(2px);
        filter: blur(2px);
    }
    .overlay {
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        width: 100%;
        background: $bg;
        color: #fff;
        opacity: 1;
        h2 {
            margin-top: 20%;
        }
    }
}
